# Default ignored files
/../../../PycharmProjects./matrix/.idea/shelf/
/../../../PycharmProjects./matrix/.idea/workspace.xml
# Datasource local storage ignored files
/../../../../:\PycharmProjects.\matrix\.idea/dataSources/
/../../../PycharmProjects./matrix/.idea/dataSources.local.xml
# Editor-based HTTP Client requests
/../../../PycharmProjects./matrix/.idea/httpRequests/
